td {
  width: auto;
  height: auto;
  border: 2px outset rgb(255, 255, 255);
  padding:auto;
}

body{
margin:auto;
text-align:center;
}
table#playfield{
background-color: rgba(24, 26, 27, 0.082);

margin:auto;
text-align:center;
width: 300px; 
height: 640px;
border: 1px inset rgb(255, 255, 255);
}
div{
width:510px;
height: 640px;
}
h1{
font-family: 'Courier New', Courier, monospace;
}

img {
width: 100%;
display: block;
}

button{
  margin:5px;
  background-color: #008CBA;
  color:white;
}

table#hold{
  width: 100px;
  height: 111px;
  display:inline-block;
  float:left;

}

table#next{
  width: 100px;
  height: 330px;
  display:inline-block;
  float:right;
}

td#hold{
  width:100px;
  height: 100px;
  border: outset;
  background-color: rgba(0, 0, 0, 0.089);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center; 
}

td#next{
  width:100px;
  height: 100px;
  border: outset;
  background-color: rgba(0, 0, 0, 0.089);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center; 



}

